.sectionGroup {
    background-image: url(../images/wallpaper2.jpg);
    background-size: cover;
    height: 720px;
    margin: 100px 0;
    display: grid;
    grid-template-rows: 300px auto;
    grid-gap: 20px;
    position: relative;
    @media (max-width: 720px) {
        height: 820px;
    }
}

.sectionGroup .logo {
    margin: 0 auto;
    width: 128px;
    align-self: end;
}
.sectionTitleGroup {
    max-width: 800px;
    margin: 0 40px;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 300px auto;
    grid-auto-rows: auto 100%;
    @media (max-width: 720px) {
        grid-template-columns: 1fr;
    }
}

.sectionTitleGroup .title {
    color: white;
    margin: 0;
    line-height: 1.2;
    font-size: 60px;
    
    @media (max-width: 720px) {
        font-size: 40px;
    }
}

.sectionTitleGroup .content {
    color: white;
    font-size: 20px;
}

.waveTop {
    position: absolute;
    width: 100%;
    top: -6px;
    transform: rotate(180deg);
}

.waveBottom {
    position: absolute;
    bottom: -6px;
    width: 100%;
}
